.clearfix
  %h1.pull-left Listing Group
  %a.btn.btn-large.btn-primary.pull-right.create-action{:href => "#{new_group_path}", :title => "Create Group"} + Create Group

- if @groups.empty?
  %p.text-center
    No record to show
- else
  %table.table
    %tr
      %th #
      %th Name
      %th Actions
    - @groups.each_with_index do |group, index|
      %tr
        %td= index + 1

        %td= link_to group.name, group_path(group)
        %td
          - if(group.user_ids.include? current_user.id)
            = link_to 'Chat', group_path(group) 
            | 
            = link_to 'Leave', leave_group_path(group) 
          - else
            = link_to 'Join', join_group_path(group)
